<div class="comment">
  <div class="comment-box">
    <%= render 'book_comments/book_comments', book: @book %>
  </div>

</div>

<div class="new-comment">
  <div class="comment-error">
    <%= render 'layouts/errors', obj: @book_comment %>
  </div>
  <%= form_with(model: [@book, @book_comment]) do |f| %>
　  <%= f.text_area :comment, rows: '5', class: 'form-control' %>
    <%= f.submit "送信" %>
  <% end %>
</div>