%table.table
  %tr= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg")
  %tr
    %th name
    %th= user.name
  %tr
    %th introduction
    %th= user.introduction
  %tr
    %th follows
    %th{:id => "following-link-#{user.id}"}
      = link_to user.following.count, following_user_path(user)
  %tr
    %th followers
    %th{:id => "followers-link-#{user.id}"}
      = link_to user.followers.count, followers_user_path(user)
  %tr
    %th favorites
    %th= link_to user.favorites.count, favorites_user_path(user)
.row
  - if current_user != user
    = link_to "chatする", chat_path(user)
.row.mt-2
  - if user == current_user
    = link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}"
  - else
    %div{:id => "follow-btn-#{user.id}"}
      - if current_user.following?(user)
        = render 'users/unfollow', user: user
      - else
        = render 'users/follow', user: user
