.container
  %h2
    = @user.name
    's favorites
  %table.table.table-hover.table-inverse
    %thead
      %tr
        %th
        %th Title
        %th Opinion
        %th{:colspan => "3"}
    %tbody
      - @favorites.each do |favorite|
        %tr
          %td
            = link_to user_path(favorite.book.user) do
              = attachment_image_tag(favorite.book.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg")
          %td= link_to favorite.book.title, book_path(favorite.book), class: "book_#{favorite.book.id}"
          %td= favorite.book.body
          %td
            %div{:class => "favorites_button_#{favorite.book.id}"}
              = render 'favorites/favorites', book: favorite.book
          %td
            コメント数:#{favorite.book.book_comments.count}
