<div class="container">

<h2><%= @user.name %>'s favorites</h2>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= link_to user_path(favorite.book.user) do %>
          <%= attachment_image_tag(favorite.book.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
          <% end %>
        </td>
        <td><%= link_to favorite.book.title, book_path(favorite.book), class: "book_#{favorite.book.id}" %></td>
        <td><%= favorite.book.body %></td>
        <td>
          <div class="favorites_button_<%= favorite.book.id %>">
            <%= render 'favorites/favorites', book: favorite.book %>
          </div>
        </td>
        <td>
          コメント数:<%= favorite.book.book_comments.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>